body {
  display: flex;
  flex-direction: column;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
}

.section-1,
.section-2 {
  padding: 30px 180px 100px;
  display: flex;
  flex-direction: column;
}

.section-1 {
  background-color: #1f2937;
}

.section-2 {
  background-color: white;
  color: black;
  justify-content: center;
}

.header,
.header-right,
.list,
.hero {
  display: flex;
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.list {
  gap: 16px;
}

.hero {
  justify-content: space-between;
}

.hero-content {
  flex: 0 1 550px;
}

.hero-title {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero-text {
  color: #d8d8d8;
  font-size: 24px;
  font-weight: 100;
}

.sign-up {
  background-color: #3882f6;
  border-radius: 12px;
  border: darkblue;
  border-width: 1px;
  padding: 8px 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.info-title {
  text-align: center;
}

.info-title h1 {
  font-size: 30px;
  color: #1f2937;
  margin-bottom: 50px;
}

.info {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.illu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 170px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration-line: none;
  color: #d8d8d8;
}

.logo a {
  color: white;
}

.info-image {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 16px;
  border-color: #3882f6;
  border-style: solid;
  border-width: 3px;
}

/* Section 3 */

.section-3 {
  display: flex;
  background-color: #e5e7eb;
  padding: 100px 180px;
  color: #1f2937;
}

.section-3 p {
  font-size: 36px;
  font-weight: 300;
}

.section-3 div {
  display: flex;
  flex-direction: column;
}

.section-3 div div {
  text-align: right;
}

/* section 4 */

.section-4 {
  display: flex;
  padding: 100px 180px;
  justify-content: center;
}

.call-action {
  display: flex;
  padding: 25px 100px;
  background-color: #3882f6;
  justify-content: space-between;
  flex-basis: 1080px;
  border-radius: 16px;
  align-items: center;
}

.section-4 h2 {
  margin-bottom: 0px;
}

.section-4 p {
  margin-top: 8px;
}

.section-4 .sign-up {
  border: solid white 2px;
}

/* footer */

.footer {
  background-color: #1f2937;
  display: flex;
  padding: 30px 180px;
  justify-content: center;
}

.copyright {
  display: flex;
  text-align: center;
  color: #d8d8d8;
}
